apiVersion: v1
kind: Namespace
metadata:
  name: crossplane-system
---
apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-credentials
  namespace: rabbitmq
stringData:
  credentials: |
    {
      "username": "guest",
      "password": "guest",
      "endpoint": "http://rabbitmq.rabbitmq.svc.cluster.local:15672"
    }
---
apiVersion: rabbitmq.crossplane.io/v1alpha1
kind: ProviderConfig
metadata:
  name: provider-rabbitmq
  namespace: rabbitmq
spec:
  credentials:
    source: Secret
    secretRef:
      name: rabbitmq-credentials
      namespace: rabbitmq
      key: credentials
---
apiVersion: rabbitmq.m.crossplane.io/v1alpha1
kind: ProviderConfig
metadata:
  name: provider-rabbitmq
  namespace: rabbitmq
spec:
  credentials:
    source: Secret
    secretRef:
      name: rabbitmq-credentials
      namespace: rabbitmq
      key: credentials
---
apiVersion: rabbitmq.m.crossplane.io/v1alpha1
kind: ClusterProviderConfig
metadata:
  name: provider-rabbitmq
spec:
  credentials:
    source: Secret
    secretRef:
      name: rabbitmq-credentials
      namespace: rabbitmq
      key: credentials