apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-credentials
  namespace: rabbitmq
stringData: # for local development/running the rabbitmq address must be forwarder locally, in operator installed within k8s use for example http://rabbitmq.rabbitmq.svc.cluster.local:15672
  credentials: |
    {
      "username": "guest",
      "password": "guest",
      "endpoint": "http://localhost:15672"
    }
---
apiVersion: rabbitmq.m.crossplane.io/v1alpha1
kind: ProviderConfig
metadata:
  name: provider-rabbitmq
  namespace: rabbitmq
spec:
  credentials:
    source: Secret
    secretRef:
      name: rabbitmq-credentials
      namespace: rabbitmq
      key: credentials